@charset "utf-8";



 .hidden{
   display: none;
 }

 .align-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


@font-face {
  font-family: lato-light;
  src: url(../assets/Lato-Light.ttf);
}
@font-face {
  font-family: lato;
  src: url(../assets/Lato-Regular.ttf);
}
@font-face {
    font-family: oxygen;
    src: url(../assets/Oxygen.otf);
}

p, a, h3{
  font-family: lato-light, helvetica, times;
  margin-bottom: 0;
}

h1, h2{
  font-family: oxygen, cursive, ariel;
}

h2{
  color: #303030;
}

/*HEADER*/
.offcanvas-full-screen {
  position: fixed;
  z-index: 1;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out,
  -webkit-transform 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #3b3b3b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow-y: auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen {
  outline: 0;
}

.offcanvas-full-screen.is-transition-overlap {
  z-index: 10;
}

.offcanvas-full-screen.is-transition-overlap.is-open {
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
}

.offcanvas-full-screen.is-open {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.offcanvas-full-screen.is-open ~ .off-canvas-content {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.offcanvas-full-screen.is-transition-push::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
  content: " ";
}

.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.offcanvas-full-screen-inner {
  padding: 1rem;
  text-align: center;
}

.offcanvas-full-screen-menu {
  margin: 0;
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.offcanvas-full-screen-menu > li {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen-menu > li {
  outline: 0;
}

.offcanvas-full-screen-menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

.offcanvas-full-screen-menu input,
.offcanvas-full-screen-menu select,
.offcanvas-full-screen-menu a,
.offcanvas-full-screen-menu button {
  margin-bottom: 0;
}

.offcanvas-full-screen-menu > li {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.offcanvas-full-screen-menu > li > a {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.offcanvas-full-screen-menu a {
  color: #9E7979;
}

.offcanvas-full-screen-menu a:hover {
  color: #fefefe;
}

.offcanvas-full-screen-close {
	float: right;
  color: #fefefe;
  font-size: 2rem;
}

.offcanvas-full-screen-close:hover {
  color: #DDB0B0;
}

#logoArea{
  margin: 0;
}

#hamButton{
  margin-top: 5px;
}

.offcanvas-full-screen-menu li a::after{
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.offcanvas-full-screen-menu li a:hover::after{
  width: 80%;
  background: black;
}

/*Intro section*/

.js-off-canvas-overlay.is-visible {
    z-index: -100;
}

#welcome{
  background-color: #ddb0b0;
  padding: 10px;
  display: block;
  height: 90vh;
  position: relative;
}

.chat{
  background-color: #e5e5e5;
  border-radius: 5px;
  margin-top: 5px;
}

#welcomeMessage, #helpMessage, #myMessage2, #myMessage3{
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  font-family: lato-light, helvetica, times;
}

/*ANIMATIONS*/

.bounceRight{
	animation-name: bounceRight;
	-webkit-animation-name: bounceRight;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes bounceRight {
	0% {transform: translateX(-150%);}
	50%{transform: translateX(8%);}
	65%{transform: translateX(-4%);}
	80%{transform: translateX(4%);}
	95%{transform: translateX(-2%);}
	100% {transform: translateX(0%);}
}

@-webkit-keyframes bounceRight {
	0% {-webkit-transform: translateX(-150%);}
	50%{-webkit-transform: translateX(8%);}
  65%{-webkit-transform: translateX(-4%);}
	80%{-webkit-transform: translateX(4%);}
	95%{-webkit-transform: translateX(-2%);}
	100% {-webkit-transform: translateX(0%);}
}

.bounceRight2{
	animation-name: bounceRight2;
	-webkit-animation-name: bounceRight2;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes bounceRight2 {
	0% {transform: translateX(-150%);}
  50%{-webkit-transform: translateX(8%);}
  65%{-webkit-transform: translateX(-4%);}
  80%{-webkit-transform: translateX(4%);}
  95%{-webkit-transform: translateX(-2%);}
	100% {transform: translateX(0%);}
}

@-webkit-keyframes bounceRight2 {
	0% {-webkit-transform: translateX(-150%);}
  50%{-webkit-transform: translateX(8%);}
  65%{-webkit-transform: translateX(-4%);}
  80%{-webkit-transform: translateX(4%);}
  95%{-webkit-transform: translateX(-2%);}
	100% {-webkit-transform: translateX(0%);}
}

.speech-bubble-left {
	position: relative;
	background: #e5e5e5;
	border-radius: .4em;
  padding: 7px;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #e5e5e5;
	border-left: 0;
	margin-top: -0.625em;
	margin-left: -0.625em;
}

.speech-bubble-right {
	position: relative;
	background: #e5e5e5;
	border-radius: .4em;
  padding: 7px;
  margin-top: 5px;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-left-color: #e5e5e5;
	border-right: 0;
	margin-top: -0.625em;
	margin-right: -0.625em;
}

#userBubble1, #userBubble2, #myMessage2, #myMessage3{
  display: none;
}

#response{
  bottom: 40px;
  position: absolute;
}

#response li{
  display: none;
  margin-top: 5px;
  text-decoration: none;
}

#response li a{
  color: black;
}

#response li a p{
  font-size: 1em;
}

#response li a p:hover{
  color: #9E797D;
}

#typeInput{
  position: absolute;
  /*margin-top: 100px;*/
  margin-bottom: 0;
  right: 0;
  bottom: 10px;
}

/*RESUME ARROW*/
#resumeArrow p{
  opacity:1;
}

#resumeArrow:hover p{
  opacity:0;
  transition: opacity 0.8s ease;
}

#resumeArrow {
  background-color: #9E797D;
  height: 31.5px;
  padding: 0px 18px 0px 200px;
  transform: translateX(-90%);
  -webkit-transform: translateX(-90%);
  position: fixed;
  z-index: 5;
  width: 5%;
  top: 15px;
}

#resumeArrow p{
  color: #fff;
}

#resumeText{
  color: #ffffff;
  float: right;
  margin-right: 5px;
  font-size: 1em;
  padding: 5px;
}

#resumeArrow::after{
  content:"";
  position: absolute;
  top:0;
  left:100%;
  height:0;
  width:0;
  border-width: 16px;
  border-style:solid;
  border-color:#9E797D;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-right-color:transparent;
}

#resumeArrow:hover{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes slideRight {
	0% {transform: translateX(-90%);}
	100% {transform: translateX(-10%);}
}

@-webkit-keyframes slideRight {
	0% {-webkit-transform: translateX(-90%);}
	100% {-webkit-transform: translateX(-10%);}
}


.resumeOn{
  animation-name: textSlideLeft;
	-webkit-animation-name: textSlideLeft;
	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes textSlideLeft {
  0% {transform: translateX(0%);}
	100% {transform: translateX(-10%);}
}

@-webkit-keyframes textSlideLeft {
  0% {-webkit-transform: translateX(0%);}
	100% {-webkit-transform: translateX(-10%);}
}

/*ABOUT ME*/
#about{
  padding: 10px;
}

#selfImg{
  height: 200px;
}

.socials{
  width: 15%;
  margin-top: 10px;
  max-width: 50px;
}

.socials:hover{
  margin-top: 5px;
}


/*PORTFOLIO*/

.imgHolder{
  max-height: 200px;
  overflow: hidden;
}
.example{
  opacity: 0.8;
}

.example:hover{
  opacity: 1;
  animation: zoomIn .7s ease;
	animation-fill-mode: forwards;
}
@keyframes zoomIn {
  0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}

@-webkit-keyframes zoomIn {
  0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(1.2);}
}

#section2{
  margin-top: 5px;
  overflow: hidden;
}


/*LIGHTBOX*/

.thumb { height: 90px; margin: 8px; cursor: pointer; }


.lightbox {
	position:  absolute;
	display: none;
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
	z-index: 5000;
}




.lightbox-img{
	display: block;
	margin: 20px auto;
	max-width: 100%;
	height: auto;
}

.lightbox-desc{
	font-size: 1.5em;
	margin: 0 0 0 20px;
}

.close-lightbox{
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
  color: #9E797D;
}



/*CONTACT FORM*/

.street{
  display: none;
}

#section3 {
  padding: 10px;
}

#section3 p{
  margin-bottom: 5px;
}

#submitButton{
  background-color: #9E797D;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: lato-light, helvetica, times;
  padding: 5px 10px;
  margin-bottom: 10px;
  transition: border-radius .7s ease, background-color .7s ease;
  -webkit-transition: border-radius .7s ease, background-color .7s ease;
  -ms-transition: border-radius .7s ease ease-out, background-color .7s ease ease-out;
}

#submitButton:hover{
  background-color: #DDB0B0;
  border-radius: 12px;
  transition: border-radius .5s ease, background-color .5s ease;
  -webkit-transition: border-radius 1s ease, background-color 1s ease;
  -ms-transition: border-radius 1s ease ease-out, background-color 1s ease ease-out;
}


/*FOOTER*/

#footerNav{
  background-color: #9E797D ;
  text-align: center;
}

#footerNav ul {
  margin-bottom: 10px;
  margin-left: 0;
}

#footerNav ul a{
  margin-left: 15px;
}

#footerNav ul a:first-child{
  margin-left: 0;
}








/*#footerNav ul li a::after{
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#footerNav ul li a:hover::after{
  width: 80%;
  background: black;
}*/

@media screen and (min-width:25em) {

}

@media screen and (min-width:28.125em) {

}
@media screen and (min-width:37.5em) {

}

@media screen and (min-width:40em) {/*640px*/
  #logoArea{
    margin-left: 30px;
  }
  .chat p{
    font-size: 1.2em;
  }
  #myMessage2, #myMessage3{
    font-size: 1.2em;
  }
  #response li a p{
    font-size: 1.1em;
  }
  #selfImg{
    margin: auto 0;
  }
  #section3{
    text-align: center;
  }
  .example{
    padding: 3px;
  }
  #selfImg{
    padding: 10px;
  }

}

@media screen and (min-width:43.75em) {/*700px*/

}
@media screen and (min-width:53.125em) { /*850px*/

}
@media screen and (min-width:62.5em) { /*1000px*/

}

@media screen and (min-width:64em) { /*1024px*/
  .chat p{
    font-size: 1.3em;
  }
  #myMessage2, #myMessage3{
    font-size: 1.3em;
  }
  #response li a p{
    font-size: 1.2em;
  }

}

@media screen and (min-width:71.875em) {

}
@media screen and (min-width:75em) {

}








/********************RESUME***************************/

#resHeader{
  text-align: center;
}

#resLogo{
  margin-top: 20px;
}

#resPhoneIcon{
  max-width: 75px;
}
